<template>
  <div class="add col-lg-12">
    <div class="row mx-auto">
      <div class="col-lg-12 mt-5 p-3 judul-page">
        <h5 class="m-0">Ticket Support CC</h5>
      </div>
      <div class="col-lg-12 mt-5">
          <div class="row mx-auto">
            <div class="col-lg-12 p-3 judul-page border">
              <h5>Ticket - Penugasan Support CC</h5>
            </div>
            <div class="col-lg-12 border">
              <div class="row">
                <div class="col-lg-5 py-3">
                  <form @submit="create" method="post">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">No Laporan</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Generate By System" disabled>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Tanggal Laporan</label>
                      <div class="col-sm-8">
                        <input type="datetime-local" class="form-control">
                      </div>
                    </div><div class="form-group row">
                      <label class="col-sm-4 col-form-label">Permasalahan <i style="color:red">*</i></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="" v-model="post.permasalahan" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Jenis Gangguan <i style="color:red">*</i></label>
                      <div class="col-sm-8">
                        <select v-on:change="Gangguan" class="form-control" name="" id="" required>
                          <option value="" selected disabled>Pilih Jenis Gangguan</option>
                          <option v-for="data in datas" :key="data.id" :value="data.id">{{data.nama}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Sub Jenis Gangguan <i style="color:red">*</i></label>
                      <div class="col-sm-8">
                        <select  v-on:change="subGangguan" class="form-control" name="" id="" :disabled="disable" required>
                          <option value="" selected disabled>Pilih Sub Jenis Gangguan</option>
                          <option v-for="sub in subs" :key="sub.id" :value="sub.id">{{sub.nama}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <input type="submit" value="Simpan" class="btn btn-success">
                        <button @click="batal" class="btn btn-light ml-3 border">Batal</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require('axios');

export default {
    data(){
      return{
        datas:[],
        disable: true,
        subs:[],
        post:{
            type_ticket_id: null,
            sub_type_ticket_id: null,
            permasalahan: null,
        }
      }
    },
    mounted(){
      this.getData()
    },
    methods:{
      getData: function(){
        axios.get('/mastersupport/getdata')
        .then((response) => {
          this.datas = response.data.data
        })
        .catch((error) => {
          console.log(error);
        })
      },
      Gangguan: function(e){
        this.subs = []
        this.disable = false
        this.post.type_ticket_id = e.target.value
        for(var i in this.datas){
          for(var j in this.datas[i].sub_type_ticket){
            if(this.datas[i].sub_type_ticket[j].wo_supportid == e.target.value){
              this.subs.push(this.datas[i].sub_type_ticket[j])
            }
          }
        }
      },
      subGangguan: function(e){
        this.post.sub_type_ticket_id = e.target.value
      },
      create: function(e){
        console.log(JSON.parse(localStorage.getItem('user')).token)
        e.preventDefault()

        axios.post('/ticket/createsupport', this.post, {
          headers:{
            'Authorization': JSON.parse(localStorage.getItem('user')).token
          }
        })
        .then(response => {
          if(response.data.status){
            this.$router.push('/')
            alert('Data Berhasil Ditambah')
          }
        })
        .catch(error => {
          console.log(error.response);
        })
      },
      batal: function(){
        this.$router.push('/')
      }
    }
}
</script>

<style>

</style>
