<template>
  <div class="home col-lg-12 py-3">
    <div class="row mx-auto">
      <div class="col-lg-12 mt-5 p-3 judul-page">
        <h5 class="m-0">Ticket Support CC</h5>
      </div>
      <div class="col-lg-12 mt-4 text-right">
        <button v-on:click="add" class="btn btn-success">ADD</button>
      </div>
      <div class="col-lg-12 mt-4">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">No Laporan</th>
              <th scope="col">Tgl Laporan</th>
              <th scope="col">Jenis</th>
              <th scope="col">Sub Jenis</th>
              <th scope="col">Petugas</th>
              <th scope="col">Permasalahan</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in items" :key="item.id">
              <td>{{index + 1}}</td>
              <td>{{item.no_lap}}</td>
              <td>{{item.tgl_lap}}</td>
              <td>{{item.type_ticket ? item.type_ticket.nama : "-"}}</td>
              <td>{{item.sub_type_ticket ? item.sub_type_ticket.nama : "-"}}</td>
              <td>{{item.petugas ? item.petugas.nama : "-"}}</td>
              <td>{{item.permasalahan ? item.permasalahan : "-"}}</td>
              <td>{{item.status ? item.status.nama : "-"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require('axios');

export default {
  name: 'Home',
  data(){
    return{
      items:[],
    }
  },
  mounted(){
    this.getTicket()
  },
  methods:{
    getTicket: function(){
      axios.get('/ticket/support', {
        headers: {
          'Authorization': JSON.parse(localStorage.getItem('user')).token
        },
        params: {
          offset: 0,
          limit:10
        }
      })
      .then(response => {
        this.items = response.data.data
      })
      .catch(error => {
        console.log(error);
      })
    },
    add: function(){
      this.$router.push('/add')
    }
  }
}
</script>

<style>
.judul-page{
  background: #f8f9fa;
}
</style>
