<template>
  <div id="login">
     <div class="container-fluid">
        <div class="row mvh-100">
          <div class="col-lg-4 mx-auto my-auto">
            <div class="card w-100" style="border-radius:15px">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <img src="@/assets/images/logo.jpeg" alt="" srcset="">
                  </div>
                  <div v-if="error" class="col-lg-12">
                    <div class="alert alert-danger text-center" role="alert">
                      {{msg}}
                    </div>
                  </div>
                  <form @submit="Login" method="post" class="w-100">
                    <div class="col-lg-12 form-group">
                      <p>Username</p>
                      <input type="text" class="form-control" v-model="post.username">
                    </div>
                    <div class="col-lg-12 form-group">
                      <p>Password</p>
                      <input type="password" class="form-control" v-model="post.password">
                    </div>
                    <div class="col-lg-12 form-group">
                      <p>Imei</p>
                      <input type="text" class="form-control" v-model="post.imei">
                    </div>
                    <div class="col-lg-12 form-group mb-4">
                      <input type="submit" class="form-control" value="Login" style="background:#fca311;color:white">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>
  </div>
</template>

<script>
const axios = require('axios');
export default {
    name:'login',
    data(){
        return{
            post:{
                username: null,
                password: null,
                imei: null
            },
            error: false,
            msg:"",
        }
    },
    methods:{
        Login(e){
            e.preventDefault()

            axios.post('/authentication/login', {
                username: this.post.username,
                password: this.post.password,
                imei: this.post.imei 
            })
            .then(response => { 
              if(response.data.status == true){
                localStorage.setItem('user',JSON.stringify(response.data.data))
                localStorage.setItem('login', true)
                this.$router.push('/')
              }
            })
            .catch(error => {
              if(error.response.data.status == false){
                  this.error = true
                  this.msg = error.response.data.message
              }
            });
        }
    }
}
</script>

<style>
body{
    height: 100%;
}
#login{
     min-height: 100vh;
     background: #F09819;
}
.mvh-100{
    min-height: 100vh;
}
</style>