<template>
    <div id="main">
        <div class="container-fluid">
            <div class="row">
                <nav class="col-lg-2 mvh-100 py-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <img class="img-fluid" src="@/assets/images/logo.jpeg" alt="" srcset="">
                        </div>
                        <div class="col-lg-12 mt-3">
                            <ol class="navigasi">
                                <li><a href="javascript:;" class="active">Navigasi</a></li>
                                <li>
                                    <a v-on:click="dropdown('ticket')" id="ticket" class="dropdown-btn" href="javascript:;">Ticket <i class="fas fa-caret-down"></i></a>
                                    <ol class="sub-menu">
                                        <li><router-link to="/">Ticket Support</router-link></li>
                                    </ol>
                                </li> 
                            </ol>
                        </div>
                    </div>
                </nav>
                <main class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-12 p-0">
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-user"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="#">Change Password</a>
                                                <a @click="logout" class="dropdown-item" href="javascript:;">Logout</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <router-view/>
                    </div>
                </main>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods:{
        dropdown: function(val){
            var dropdown = document.getElementById(val);
            var dropdownContent = dropdown.nextElementSibling;

            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        },
        logout: function(){
            localStorage.removeItem('user')
            localStorage.removeItem('login')
            this.$router.push('/login')
        }
    }
}
</script>

<style>
nav{
    background: #F09819;
}
#main{
    min-height: 100vh;
}
.mvh-100{
    min-height: 100vh;
}
.navigasi{
    list-style: none;
    padding: 0;
}
.navigasi li a{
    padding: 15px;
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    align-items: center;
}
.navigasi li:first-child a{
    background: white;
    margin-bottom: 10px;
}
.sub-menu{
    list-style: none;
    padding: 0;
    display: none;
}
.sub-menu li a{
    display: flex;
    padding: 15px;
    background: white;
}
/* .dropdown-btn.active{
    background: white;
} */
</style>